

//
// Custom visibility class
//

.desktop-only {
  @media (max-width: @screen-xs-max) {
    display: none;
  }
}

.phone-only {
  @media (min-width: @screen-sm-min) {
    display: none;
  }
}

.hidden-phone {
  @media (max-width: @screen-sm-max) {
    display: none;
  }
}

//
// Navbar
//

.page-branch {
  .navbar {
    border: 0;
    margin: 0;

    @media (max-width: @screen-xs-max) {
      margin-top: 0;
    }

    .container {
      position: relative;
    }

    .row {
      @media (max-width: @screen-xs-max) {
        display: flex;
        flex-wrap: wrap;
        padding-top: @over-header-height;
        background: @header-bg;
      }
    }
  }

  #header-logo,
  #header-branch-name {
    line-height: 30px;
  }

  #header-logo {
    @media (max-width: @screen-sm-max) and (min-width: @screen-sm-min) {
      float: left;
    }

    @media (max-width: @screen-xs-max) {
      position: absolute !important;
      text-align: left !important;
      height: @over-header-height;
      top: 0;
      left: 0;
      right: 40%;
      order: 1;
      z-index: 1;
      background: @over-header-bg;
      padding: 0 0 0 15px;

      strong {
        font-size: 12px;
      }
    }
  }

  #header-branch-name {
    @media (max-width: @screen-xs-max) {
      background: @over-header-bg;
      height: @over-header-height;
      line-height: @over-header-height;
      position: absolute;
      text-align: right;
      top: 0;
      right: 0;
      left: 60%;
      order: 2;
      z-index: 1;
      padding: 0 15px 0 0;
    }

    .branch-title {
      @media (max-width: @screen-xs-max) {
        margin: 0;
        font-size: 12px;
        position: absolute;
        white-space: nowrap;
        text-align: right;
        top: 0;
        right: 30px;
        left: 0;
        line-height: @over-header-height;
      }

      .ellipsis {
        @media (max-width: @screen-xs-max) {
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          position: absolute;
          top: 0;
          left: 0;
          right: 22px;
        }
      }

      .leftover {
        @media (max-width: @screen-xs-max) {
          width: 22px;
        }
      }
    }

    .header-branch-change-link {
      @media (max-width: @screen-xs-max) {
        display: inline;
      }
    }
  }
}

.navbar-toggle {
  height: @navbar-button-height;
  width: @navbar-button-width;
  margin: 5px 5px 5px 15px;
  padding: 8px 8px;
  background-color: @navbar-button-bg;
  border-radius: @navbar-button-border-radius;
  transition: background-color @transition-time ease, .5s ease-in-out;

  .icon-bar {
    transition: background-color @transition-time ease, transform .25s ease-in-out;
    height: 3px;
    background-color: @navbar-button-color;
  }

  @media (max-width: @screen-xs-max) {
    order: 3;
  }
}

#header-nav {
  @media (max-width: @screen-xs-max) {
    flex: 1;
    order: 4;
    padding: 0;
    margin: 5px 0;

    .account {
      border-radius: @navbar-button-border-radius;
      height: @navbar-button-height;
      width: @navbar-button-width;
      display: block;
      float: right;
      text-align: center;
      padding: 8px;
      font-size: 20px;
      background-color: @navbar-button-bg;
      color: @navbar-button-color;
    }
  }
}

#header-cart {
  @media (max-width: @screen-xs-max) {
    padding: 0 !important;
    margin: 5px 15px 5px 5px;
    order: 5;

    .btn-cart {
      margin: 0;
    }
  }
}

#header-branch-occurrence {
  @media (max-width: @screen-xs-max) {
    .make-xs-column(12);
    background-color: @sub-header-bg;
    height: @sub-header-height;
    order: 6;
  }

  &.closed {
    @media (max-width: @screen-xs-max) {
      background-color: @sub-header-closed-bg;

      &,
      a {
        color: @sub-header-closed-color;
      }
    }
  }
}

//
// Summary
//

.summary {
  @media(max-width: @screen-xs-max) {
    background: none;
    box-shadow: none;
    padding: 0;
    margin: 0;
    border: 0;
  }
}

//
// Cart
//

.btn-cart {
  position: relative;
  margin-bottom: 5px;
  padding: 4px 9px;
  margin-top: 5px;
  display: block;
  border: none;

  > .glyphicon-shopping-cart {
    font-size: 28px;
  }

  .cart-items-number {
    position: absolute;
    font-weight: bold;
    font-size: 11px;
    color: @navbar-cart-inumber-color;
    left: 18px;
    top: 8px;
  }

  .small-price {
    float: right;
    line-height: 30px;
    margin-left: 5px;
  }

  &.has-item {
    color: #FFF;
    background-color: @navbar-cart-bg-witem;
    border-color: #FFF;

    .cart-items-number {
      color: @navbar-cart-inumber-color-witem;
    }
  }
}

//
// Content Wrapper
//

.content-wrapper {
  padding-top: 20px;
  height: 100%;
}